<footer class="footer">
	<span style="float: left;">
		<img src="https://jigsaw.w3.org/css-validator/images/mwcss.gif" alt="made with css"/>
	</span>
	<p>
	    <a href="https://jigsaw.w3.org/css-validator/check/referer">
		<img style="border:0;width:88px;height:31px"
		    src="https://jigsaw.w3.org/css-validator/images/vcss"
		    alt="Valid CSS!" />
	    </a>
	</p>
</footer>

    <!-- Note: we need to bundle this on our own and ditch the cdn? -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

    <script src={{ url_for('static', filename='lib/index.js') }}></script>
