body {
	cursor: pointer;
	background-color: #f2eecb;
	overflow: auto;
	max-width: 1200px;
	margin: 0 auto;
	line-height: 1;
}

.header {
	grid-area: header;
	text-align: center;
}

.content {
	grid-area: content;
}

.side {
  grid-area: sidebar;
}

.ad {
  grid-area: ad;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"header"
		"nav"
		"content"
		"sidebar"
		"ad"
		"footer";
}

@media (min-width: 500px) {
.wrapper {
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		"header header"
		"nav nav"
		"content sidebar"
		"footer footer";
 }
 nav ul {
    	display: flex;
    	justify-content: space-between;
 }
}

@media (min-width: 700px) {
.wrapper {
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas:
		"header header header"
		"nav nav nav"
		"sidebar content ad"
		"footer footer footer";

 }
 nav ul {
    	display: flex;
    	justify-content: space-between;
 }
}

.menu {
	margin-top: 1em;
	float: right;
}

.sections {
	grid-area: nav;
	color: black;
	border-top: 1px solid black;
	border-bottom: double black;
}

.sections h1 {
	font-size: xxx-large;
}

.sections a {
	text-decoration: none;
	color: black;
}

.sections a:visited {
	color: black;
}

.sections li {
	display: inline-block;
	padding: 3px;
}

.sections li:after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background: black;
	transition: 300ms;
}

.sections li:hover:after {
	width: 100%;
}

.time {
	display: grid;
	justify-content: left;
	font-size: 12px;
}

.price {
	display: grid;
	justify-content: right;
	font-size: 12px;
}

.footer {
	grid-area: footer;
	padding: 11px;
	border-top: 1px solid black;
	text-align: end;
}

.account {
	display: block;
	line-height: 2.5;
	padding: 10px;
}

#lead img {
	vertical-align: text-top;
	padding: .5em;
}

#mast-head {
	text-decoration: none;
	color: black;
}

#mast-head:visited {
	color: black;
}

#today {
	display: grid;
	justify-content: right;
	font-size: 12px;
}

#container {
  	display: flex;
  	justify-content: space-between; 
}

#login {
	border-radius: 0;
	background-color: #007bff;
	border-color: #007bff;
	color: #fff;
	font-size: 13px;
	padding: 7px;
	text-decoration: none;
	margin: 2px;
}
