{% include 'partials/head.html' %}    

<body>
	<div class="wrapper">

		{% include 'partials/mast-head.html' %}

		{% include 'partials/sections.html'%}
	
		<article class="content" >
			{% block content %}
			{% endblock %}
		</article>
	
		<aside class="side">
			{% block sidebar %}
			{% endblock %}
		</aside>
		
		{% if current_user.is_authenticated %}
		<script>console.log('WELCOME');</script>
		{% else %}
        		<div class="ad">
				<em>advertisement</em>
				{% block ad %}
				{% endblock %}
			</div>
		{% endif %}
    	</div>

	{% include 'partials/foot.html' %}
</body>

</html>

