{% extends 'base.html' %}    

	{% block content %}	
	<div id="lead">
		<h1>'Tis the times plague when madmen lead the blind</h1>
		<h2>Fools will be fools</h2>
		<img alt="king lear" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg/310px-William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg" decoding="async" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg/465px-William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4b/William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg/620px-William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg 2x" width="350px" height="auto"> Issue here is that I can't use <code>html</code> tags?
	</div>

	{% endblock %}

	{% block sidebar %}
	<h1>{{ g.stories[1] }}</h1>
	<p>
	{{ g.stories[2] }}
	</p>
	{% endblock %}

	{% block ad %}
	<img src="https://www.antikbar.co.uk/catalogue/images/PA1634_1_l.jpg"
	     height="auto"
	     width="100%"/>
	{% endblock %}
