{% include 'partials/head.html' %}    
<body>
	<div class="menu">
		{% if current_user.is_authenticated %}
			<a href="/account" id="login">{{ current_user.id }}</a>
		{% else %}
			<a href="/auth/login" id="login">Log In</a>
		{% endif %}
			
	</div>
	<div class="wrapper">
			
{% include 'partials/mast-head.html' %}
	
	<div class="main-section">
		<h1>Vox populi to world leaders: <em>HELLO?!</em></h1>
		<p>Save us! Save us!</p>
		<img src="https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-jumbo.jpg" srcset="https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-jumbo.jpg 1024w, https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-videoLarge.jpg 768w, https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-mediumThreeByTwo440.jpg 440w" alt="Microsoft was ordered to cease all work on a $10 billion cloud-computing contract for the Pentagon." height="auto" width="100%">
		<small>there is no hope in dope</small>
		<ul>
			<li>Hello, World!</li>
			<li>The warmongers gathered at the center of evil today :D</li>
		</ul>
	</div>
		
	<div class="main-adjacent">
		<h1>Hitler Dead!</h1>
		<h2>Found in bunker</h2>
		<ul>
			<li>The madman is dead!</li>
			<li>Five cheers for the boys that did him in!</li>
		</ul>
	</div>
		
	<div class="mid-section">
		<h1>Sunny in Seattle</h1>
		<p>Enjoy it!</p>
	</div>

	<div class="mid-adjacent">
		<h1>More at ten</h1>
		<p>Tune in!</p>
	</div>
      </div>
	
	<div id="container">
		<div class="lower1">
			<h2>If you're ready, I'm ready...</h2>
			<p>Barr makes moves!</p>
			<img alt="Attorney General William Barr demanded that President Trump stop commenting on the work of law enforcement officials." src="https://static01.nyt.com/images/2020/02/14/us/politics/14dc-justice1/merlin_168479784_9bfaeb0c-5841-49af-9990-57609a8857d9-threeByTwoSmallAt2X.jpg?quality=75&amp;auto=webp&amp;disable=upscale" height="auto" width="100%">
		</div>
		<span style="float:center;">
		 	{% for i in range(10) %}
				<p>|Ad banner: {{ i }}|</p>
			{% endfor %}
		</span>

	<div class="lower2">
		<h2>King Lear</h2>
		<p>'Tis the times plague when madmen lead the blind</p>
		<img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg/310px-William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg" decoding="async" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg/465px-William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4b/William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg/620px-William_Dyce_-_King_Lear_and_the_Fool_in_the_Storm.jpg 2x" width="100%" height="auto">
		</div>
	</div>
	
	{% include 'partials/foot.html' %}
    
	</body>
</html>
