<!DOCTYPE html>
<html>
<head>
	<title>Jitney</title>
	<link rel="StyleSheet" href={{ url_for('static', filename='index.css') }} type="text/css"/>
</head>
    <body>
	    <div class="wrapper">
    		<div class="mast-head">
			<small>English<span>&MediumSpace;</span>Español</small>
	    		<h1>Not The New York Times</h1>
			<div class="time">
				<time>Saturday, May 8th, 2020</time> 
			</div>
			<div class="sections">
				<ul style="list-style:none;">
					<li>World</li>
					<li>U.S.</li>
					<li>Politics</li>
					<li>N.Y.</li>
					<li>Business</li>
					<li>Opinion</li>
					<li>Tech</li>
					<li>Science</li>
					<li>Health</li>
					<li>Sports</li>
					<li>Arts</li>
					<li>Books</li>
					<li>Style</li>
					<li>Food</li>
					<li>Travel</li>
				</ul>
			</div>
		</div>
		
		<div class="lead-story">
			<h1>Dock voices ask: <em>HELLO?!</em></h1>
			<p>Save us! Save us!</p>
			<img alt="The Diamond Princess cruise ship docked at Yokohama, Japan, on Friday. More than 200 coronavirus cases have been confirmed on the ship since it was quarantined last week." src="https://static01.nyt.com/images/2020/02/14/us/15japan-Ship/14Ship-threeByTwoMediumAt2X.jpg?quality=75&amp;auto=webp&amp;disable=upscale" height="auto" width="100%">
			<small>there is no hope in dope</small>
		</div>
		
		<div class="adjacent">
			<h1>Hitler Dead!</h1>
			<p>Yes, I am dead!</p>
			<img alt="Hitler portrait crop.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Hitler_portrait_crop.jpg/220px-Hitler_portrait_crop.jpg" decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Hitler_portrait_crop.jpg/330px-Hitler_portrait_crop.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/e/e1/Hitler_portrait_crop.jpg 2x" width="100%" height="auto">
			<p>Deader than dead can be!</p>
		</div>

		<div class="lower-right">
			<p>Barr makes moves!</p>
			<img alt="Attorney General William Barr demanded that President Trump stop commenting on the work of law enforcement officials." src="https://static01.nyt.com/images/2020/02/14/us/politics/14dc-justice1/merlin_168479784_9bfaeb0c-5841-49af-9990-57609a8857d9-threeByTwoSmallAt2X.jpg?quality=75&amp;auto=webp&amp;disable=upscale" height="auto" width="100%">
		</div>
    	</div>
    </body>
</html>
