<!DOCTYPE html>
<html>
<head>
	<title>Jitney International</title>
	<link rel="StyleSheet" href={{ url_for('static', filename='index.css') }} type="text/css"/>
</head>
    <body>
		
		<div class="main-section">
			<h1>Vox populi to world leaders: <em>HELLO?!</em></h1>
			<p>Save us! Save us!</p>
			<img src="https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-jumbo.jpg" srcset="https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-jumbo.jpg 1024w, https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-videoLarge.jpg 768w, https://static01.nyt.com/images/2020/02/13/business/13JEDI/merlin_164405019_2ee7c54d-b754-4342-ac2a-cf5ed4b03a93-mediumThreeByTwo440.jpg 440w" alt="Microsoft was ordered to cease all work on a $10 billion cloud-computing contract for the Pentagon." height="auto" width="100%">
			<small>there is no hope in dope</small>
			<ul>
				<li>Hello, World!</li>
				<li>The warmongers gathered at the center of evil today :D</li>
			</ul>
		</div>

<footer class="footer">
	<span style="float: left;">
		<img src="https://www.gnu.org/graphics/gplv3-127x51.png" alt="gnu" />
		<img src="https://jigsaw.w3.org/css-validator/images/mwcss.gif" alt="made with css"/>
	</span>
	<p>
	<img style="border:0;width:88px;height:31px;" 
     	src="http://www.w3.org/Icons/valid-xhtml10" 
     	alt="Valid XHTML 1.0!"/>
	</p>
<p>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
           src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
           alt="Valid CSS!" />
    </a>
</p>
</footer>
    </body>
</html>
